.main-wrapper
  .logo
    img(src='assets/img/logo.png')

  .main-content-wrapper
    .main-content
      p.
        Austrian Helsinki Association - For Human Rights and International Dialogue (AHA) is a voluntary association of citizens, devoted to strengthening the Human Rights Situation and supporting Peace-Building Processes in Austria and other countries, with a particular thematic focus on the Black Sea Region. It sees itself as part of the international Helsinki movement.

      p The aim of the organization is the promotion of compliance with human rights standards and its worldwide strengthening, the promotion of international dialogue and the strengthening of peace-building processes, by:
      ul.main-list
        li supporting initiatives to tackle political or social conflicts
        li conducting projects for the strengthening of pluralist, democratic societies and of civil society activities which serve the general public
        li constituting of and participating in international networks aimed at mutual support and solidarity

      p AHA is a member of the Civic Solidarity Platform (CSP) and is the local co-coordinator of this year's annual OSCE Parallel Civil Society Conference in December 2017 in Vienna. 

      p If you are interested in participating in the conference, find the invitation letter and Online Registration Form, here: 
      a(href='http://www.civicsolidarity.org/article/1504/osce-parallel-civil-society-conference-2017-invitation-participate') http://www.civicsolidarity.org/article/1504/osce-parallel-civil-society-conference-2017-invitation-participate 

      p For more information, feel free to contact us: 
        a(href='mailto:office@austrianhelsinki.at') office@austrianhelsinki.at 
      p or find us on &nbsp;
        a(href='https://www.facebook.com/Austrian-Helsinki-Association-For-Human-Rights-and-Int-Dialogue-180458095337720/') Facebook!
      p.bigtext
        |This website is currently under construction
        br
        |- thank you for your understanding!